*{
    margin :0;
    padding:0;
   
}

header{
    align-items: center;
    display:flex;
    list-style: none;
    margin-top: 0.1rem;
    
    
}

.logo{
    width: 100%;
    
}

.key1 .logo{
    height: auto;
    width :auto;
}

.key1 .logo img {

    padding-left: 28%;
    height:2rem;

 
}

.Yandex{
    margin-top: 50px;
    height: 50px;  
    padding-left: 50px; 
    justify-content:flex-start;
 
    

}




header ul .login  {
    list-style: none;
    align-items: center;
    margin-left: 60rem;
    margin-top:3rem;
    padding-left: 20px;
    padding-right: 20px;
    height: 2rem; 
    width: 5rem;
    justify-content:flex-end;
    border-radius: 1rem;
    
    


}




.key1 input{
    width: 30rem;
    height:3rem;
   margin-left:24rem; 
   border-radius: 8rem; 
}






header #menu{
    list-style: None;
    height: 20px;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-end;  
   
   
}

main{
    display: flex;
   /* align-items:center;*/
    justify-content: center;
    margin-top: 3rem;
    
}

main section{
    padding: 0.8rem;

}


div {
    
    display: flex;
    /*align-items:center;*/
    justify-content: center;
    margin-top: 0.6rem;  
}

.key1 input{
   
    border-color: #FFFF00;
    border-style: 35%;
    border-style: solid;
    border-radius: 1rem;
   
}

nav section {
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;

}

nav img {
    width:1rem;
    height:1rem;
    margin-right: 0.2rem;
}




nav p{
    margin-right: 10rem;

}

nav ul{
   
    margin-left: 210px;
}

.last ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 26rem;
    margin-top: 10rem;
    width:100%
    
    
}

.last li{
    padding-left: 1.4rem;
    margin-right: 0.6rem;
    align-items: center;
    margin-right: 0.8rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;
    font-weight: 0.6rem;
    
    
    
}
 

.final ul{
    margin-top:0.8rem;
    list-style: none;
    display: flex;
    flex-direction: row;

}

.final li{
    padding : 0.8rem;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.6rem;
    font-weight: 0.2rem;
}

